[Desktop Entry]
Categories=Utility;
Comment[en_US]=Mouse & Keyboard sharing via LAN
Comment=Mouse & Keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=monitorhop
Icon=dev.monitorhop.MonitorHop
Name[en_US]=MonitorHop
Name=MonitorHop
StartupNotify=true
Terminal=false
Type=Application
